<h1>Listing articles</h1>
<%- if current_user %>
    <%= current_user.email %>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Category</th>
    <th>Autor</th>

  </tr>

  <% @posts.each do |post| %>

      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= post.category.name %></td>
        <td><%= post.user.email%></td>
        <% if user_signed_in? %>
            <% if can? :read, post %>
                <td><%= link_to 'Show', post_path(post) %></td>
            <% end %>
            <% if can? :update, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %> </td>
            <% end %>
            <% if can? :destroy, post %>
                <td><%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
            <% end %>
            </tr>
        <% end %>
  <% end %>
</table>

<% if user_signed_in? %>
    <% if can? :create, Post %>
        <p><%= link_to "Add new Post", new_post_path %></p>
    <% end %>
<% end %>

<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
    <%= link_to('Login', new_user_session_path) %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% end %>


