<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<h3>Comments</h3>
<% @post.comments.each do |c| %>
  <p>
    <strong>Commenter:</strong>
    <%= c.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= c.body %>
  </p>

   <p>
      <%= link_to 'Destroy Comment', post_comment_path(@post),
                                     method: :delete,
                                     data: { confirm: 'Are you sure?' } %>
   </p>

<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |p| %>
  <p>
    <%= p.label :commenter %><br>
    <%= p.text_field :commenter %>
  </p>
  <p>
    <%= p.label :body %><br>
    <%= p.text_area :body %>
  </p>

<p>
<%= p.submit %>
</p>

<% end %>

<%= link_to 'Back', posts_path %>
<%= link_to 'Edit', edit_post_path(@post) %>
